:root { /* Custom properties */
  --primary_color: #288aa5;
  --second_color: #555592;
  --black_color: #000000;
  --white_color: #ffffff;
  --hover_color: #e6edf0;
  --font_lora: 'Lora', serif;
}

html {  
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
  min-width: 400px; /* The screen will have a minimum */
}

body {
  font-size: 16px; /* e.g. 16px = 1rem  e.g.*/
  font-family: var(--font_lora);
}

h1.title {
  color: var(--second_color);
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

.span-title {
  display: block;
  font-size: 3rem;
  color: var(--primary_color);
  font-weight: 400;
}

/* Tablet, Laptop and PC */
@media (min-width: 768px) {
  h1.title {
    font-size: 3.8rm;
  }
  h1 .span-title {
    display: initial;
    font-size: 3.6rem;
  }
}

.container {
  max-width: 120rem; /* the max size of the container will be 1200px = 120rem */
  margin: 0 auto;
}

.nav-bg {
  width: 100%;
  background: var(--second_color);
}

.container-main-menu-bar {
  color: var(--white_color);
}

/* Starting from a mobile to higher resolutions */
.container-main-menu-bar a {
  display: block;
  text-align: center;
  color: var(--white_color);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.container-main-menu-bar a:hover {
  background: var(--primary_color);
  color: var(--hover_color);
}

/* Tablet, Laptop and PC */
@media (min-width: 768px) {
  .container-main-menu-bar {
    display: flex;
    justify-content: space-between;
  }
}



/* Mobile Phones */
/* @media (min-width: 400px) {} */

/* Tablet */
/* @media (min-width: 768px) {} */

/* Laptop and PC */
/* @media (min-width: 1140px) {} */
/* @media (min-width: 1400px) {} */